@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');

* {
 font-family: Inter,sans-serif;
 
}

body {
 background-color: whitesmoke;
}

h1 {
 text-align: center;
 font-weight: 700;
}

img {
 display: block;
 max-width: 100%;
 height: auto;
 margin: auto;
}

#img-caption {
 display: inline-block;
 margin-left: 50%;
 max-width: 280px;
 max-height: 25px;
 overflow-wrap: nowrap;
}

#img-div {
 padding: 0;
 margin: 0 auto;
}

#img-and-caption {
 padding-left: 16%;
}