@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap');

*, ::after, ::before {
 box-sizing: border-box;
}

body {
 margin: 0;
 background-color: whitesmoke;
}

#header-img {
 width: 100px;
}

#header {
 width: 100%;
 display: flex;
 border-bottom: 1.5px solid gainsboro;
 margin: 0;
 padding: 0;
 position: fixed;
 background-color: whitesmoke;
}

#Company-Name {
 margin: auto 0;
 font-size: 30px;
 width: 75%;
}

#nav-bar {
 display: flex;
 align-items: center;
}

.nav-link {
 margin: auto 10px;
}

body {
 font-family: "Nunito Sans", sans-serif;
}

a {
 text-decoration: none;
 color: darkslategrey;
} 

.gold {
 color: gold;
}

.aluminum {
 color: gray;
}

.wood {
 color: brown;
}

#information {
 display: flex;
 flex-direction: column;
 align-items: center;
}

#email {
 width: 200px;
 height: 2rem;
}

#submit {
 height: 2rem;
}

#Materials-h3 {
 width: 560px;
}

#Pricing-h3 {
 position: relative;
 left: 20px;
}

.large {
 font-size: 1.5rem;
}

#options {
 display: flex;
 flex-direction: row;
}

.price {
 margin-top: 2.5px;
 margin-bottom: 2.5px;
 font-size: 2rem;
}

.option {
 border: 1.5px solid black;
 border-radius: 10px;
 margin: 0 10px;;
 width: 180px;
 height: 150px;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.select-button {
 background-color: whitesmoke;
 border: 1px solid black;
 border-radius: 2px;
 cursor: pointer;
}

h2  {
 margin: 100px 0;
}

@media only screen and (max-width: 500px) {
 #Materials {
  position: relative;
  left: 45px;
 }

 header {
  background-color: whitesmoke;
  z-index: 3;
 }

 #options {
  flex-direction: column;
 }

 .option {
  margin: 10px;
 }

 #Pricing-h3 {
  position: relative;
  right: 155px;
  left: 0;
 }

 #Product-h3 {
  position: relative;
  left: 45px;
 }
} 